.compte{
    display: flex;
    padding: 40px;
    gap: 20px;
    .main1{
        padding: 15px;
        border: 1px solid #d6d3d3;
        width: 20%;
        .menu-container{
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 35px;
            cursor: pointer;

            button{
             border: none;
             padding: 10px;
             border-radius: 5px;
             background-color: rgb(255, 96, 39);
             cursor: pointer;

            }
        }
    }

    .main2{
        border: 1px solid #d6d3d3;
        flex-grow: 2;

        h2{
            text-align: center;
            border-bottom: 1px solid #d6d3d3;
            font-weight: 500;
            span{
                color: orangered;
                font-weight: 600;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
}