.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(17, 16, 16);
    color: white;
    padding: 40px;
    font-size: 21px;
    font-weight: 800;

       p{
       
        span{
            color: rgb(206, 206, 138);
            font-weight: bold;
        }
       }
   
      
   
}